#carpeta escondida de IDE
*/.idea/
*/.vscode/
#archivo escondido de MAC
*/.DS_Store
# config de yarn local
*/yarn.lock
#config de package-lock local
*/package-lock.json
package-lock.json
#dependencias del proyecto locales
*/node_modules/
/node_modules/
/vendor

android/.gradle
android/build
android/app/build

ios/build
ios/Pods
ios/DerivedData
vendor
ios/.xcode.env.local
ios/Podfile.lock

coverage/

